/* Import of Tailwind dependencies */
@import "tailwindcss";
@import "@nuxt/ui";
@theme {
  /* Fonts */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Rubik Doodle Shadow", serif;
  --font-monoton: "Monoton", serif;
  --color-matteblack: #2b2b2b;
  --color-offwhite: #f8f9fa;
  --color-whitesilver: #e5e7e9;
  --color-lightgreen: #83d6c1;
  --color-basegreen: #2a9d8f;
  --color-darkgreen: #1e6e64;
  --color-lightred: #f28b82;
  --color-basered: #e63946;
  --color-darkred: #b22234;
  --color-lightyellow: #ffe29a;
  --color-baseyellow: #ffd166;
  --color-darkyellow: #cdaa3d;
  --color-lightblue: #5c80bc;
  --color-baseblue: #1d3557;
  --color-darkblue: #0b2239;
  --color-lightparchment: #f4e1c1;
  --color-baseparchment: #d9c6a3;
  --color-darkparchment: #94876e;
  --color-lightorange: #ffb380;
  --color-baseorange: #ff8c42;
  --color-darkorange: #d96a2e;
  --ui-primary: var(--color-baseorange);
}

/** GENERAL STYLING **/
*,
*::before,
*::after {
  @apply box-border;
}

body {
  @apply font-primary text-offwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-kerning: normal;
}

h1 {
  font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
}

@media (width >= 48rem) {
  h1 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
  }
}

h2 {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
}

h4,
h5,
h6 {
  font-size: clamp(1.25rem, 1.5vw + 0.9rem, 1.75rem);
}

p {
  max-width: 60ch;
  line-height: 1.8;
}

button {
  font-weight: bold;
}

/** TRANSITIONS **/
/* Fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Bounce */
.bounce-enter-active {
  animation: bounce-custom 0.3s;
}
.bounce-leave-active {
  animation: bounce-custom 0.3s reverse;
}
@keyframes bounce-custom {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-in-enter-active {
  animation: bounce-custom 0.3s;
}

/* Leave (flip out) */
.bounce-in-leave-active {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.bounce-in-leave-to {
  opacity: 0;
  transform: rotateX(90deg) translateY(-10px);
}

/* Slide Up */
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

/* List */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from {
  opacity: 0;
  transform: scale(0);
}

.list-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.list-leave-active {
  position: absolute;
  z-index: -1;
}

/* Text */
.text-enter-active,
.text-leave-active {
  transition: all 0.5s ease;
}

.text-enter-from {
  opacity: 0;
  transform: scale(0);
}

.text-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.text-leave-active {
  position: absolute;
  z-index: -1;
}

/* Icon */
.icon-enter-active,
.icon-leave-active {
  transition: all 0.3s ease;
}

.icon-enter-from {
  opacity: 0;
  transform: scale(0);
}

.icon-leave-to {
  opacity: 0;
  transform: scale(0);
}

.icon-leave-active {
  position: absolute;
  z-index: -1;
}

/* Rotates */
@keyframes rotateForward {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(370deg);
  }
  80% {
    transform: rotate(355deg);
  }
  90% {
    transform: rotate(363deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-forward {
  animation: rotateForward 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: forwards;
}

@keyframes rotateBackward {
  0% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-backward {
  animation: rotateBackward 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: forwards;
}

/** MISC **/
.font-special {
  @apply font-secondary font-normal tracking-widest;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.2rem;
}
